
.list{
    color: #42062e;
    width: 99.8%;
    margin: 1px auto;
    height: 50px;
    background-color: #fae0f7;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}

.list p span{
    position: absolute;
    right: 10px;
    color: black;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
}
.itemsAnim-enter{
    opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in
}
.itemsAnim-leave{
    opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in
}